<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet"> 
  <title>AIDB ~ AI Tools Database</title>
  <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
  <style>


    body {
      margin: 0;
      /* background-color: rgb(215, 215, 215); */
      /* background-image: url('https://cdn.pixabay.com/photo/2017/01/31/17/55/background-2025984_1280.png'); */
      background-image: url('https://cdn.pixabay.com/photo/2020/10/14/16/14/space-5654794_1280.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      display: flex;
      flex-direction: column; 
      /* justify-content: center; */
      /* align-items: center; */
      /* height: 586px; */
      gap: 77px;
      font-family: 'Ubuntu', sans-serif;
    }

    a{
      font-size: 22px;
      /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
      font-family: 'Ubuntu', sans-serif;
    }
    #show-page>div{
      font-size: large;
      /* color: beige; */
    }

    .dir{
      color: beige;
    }

    img{
      height: 13px;
      width: 13px;

    }

    .index_button {
      height: 6vh;
      width: 24vh;
      border-style: revert;
      border-radius: 41px;
      font-family: 'Ubuntu', sans-serif;
      background-image: url('https://cdn.pixabay.com/photo/2021/09/15/13/28/art-6626881_1280.png');
      background-size: cover;
      background-repeat: repeat;
      font-weight: normal;
      font-size: 20px;
    }

    .navbar {
     height: 19vh;
     border-style: ridge;
     border-radius: 14px;
      width: auto;
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 2vh;
      /* background-image: url('https://cdn.pixabay.com/photo/2020/12/06/16/16/cosmos-5809271_1280.png'); */
      /* background-image: url('https://cdn.pixabay.com/photo/2021/08/07/14/36/modern-6528732_1280.png'); */
      background-image: url('https://cdn.pixabay.com/photo/2017/01/17/22/49/background-1988348_1280.png');
      background-repeat: repeat;
      background-size: cover;
      font-family: 'Ubuntu', sans-serif;

    }

    .tool_s{
     height: 2vh;
    }

    .tool_div{
      display: flex;
      border: solid;
      border-style: groove;
      border-radius: 12px;
      min-height: 20vh;
      min-width: 20vh;
      flex-direction: column;
      justify-content: space-between;
      border-color: snow;
      padding: 38px;
      border-width: 13px;
      opacity: 5;
      font-family: 'Ubuntu', sans-serif;

    }


  #list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 24px;
    height: 86vh;
    border: solid;
    padding: 30px;
    border-color: aliceblue;
    font-family: 'Ubuntu', sans-serif;

  }

  .tool {
    height: 40px;
    border-style: dotted;
    border-width: 7px;
    width: 192px;
    border-radius: 28px;
    font-family: 'Ubuntu', sans-serif;

  }

  .add_tool{
    height: 5vh;
    width: 12vh;
    border: solid rgb(151,200,36);
    border-radius: 25px;
    background-image: linear-gradient(to bottom, rgb(199,231,124), rgb(151,200,36));
    background-color: rgb(151,200,36);
    text-shadow: 0 2px 1px rgba(0,0,0,0.25);
    box-shadow: inset 0 3px rgba(255,255,255,0.2), inset 0 -4px rgba(0,0,0,0.1), inset 0 -25px rgba(0,0,0,0.03), inset 0 0 0 1px rgba(0,0,0,0.25), 0 4px rgba(0,0,0,0.1);
    margin: 1vh;
    font-family: 'Ubuntu', sans-serif;

  }

  .new_input{
    border-style: outset;
    border-color: beige;
    border-radius: 14px;
    height: 23px;
    width: 176px;
    font-family: 'Ubuntu', sans-serif;

  }

  .label_form{
    text-align: center;
    display: inline-block;
    height: 18px;
    width: 178px;
    border-style: outset;
    border-radius: 7px;
    border-color: blanchedalmond;
    justify-content: center;
    /* background-color: rgb(238,238,238); */
    background-image: url('https://png.pngtree.com/thumb_back/fw800/background/20230615/pngtree-thai-gold-background-abstract-king-retro-pattern-exotic-border-luxurious-element-image_3360824.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Ubuntu', sans-serif;

  }


  #new-form {
  height: 14vh;
  width: 19vh;
  margin-top: -8vh;
  /* display: flex; */
  /* flex-direction: column; */
}

.new_div {
  border-style: outset;
  border-radius: 15px;
  min-height: 300px;
  min-width: 800px;
  align-items: center;
  display: flex;
  padding: 17px;
  justify-content: flex-start;
  background-image: url('http://static.wikeo.be/files/12425/doc%202%20/m/bg_pattern_clouds.gif');
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 392px;
  margin-left: 133px;
  border-width: 11px;
  flex-wrap: wrap;
  margin-top: 29px;
  justify-content: flex-start;
  align-content: baseline;
  margin-left: 120px;
  margin-right: 360px;
  font-family: 'Ubuntu', sans-serif;

}

.add_tool {
  /* margin-top: 7px; */
  margin-left: 39vh;
  width: 22vh;
  margin-top: -30px;
  height: 6vh;
  font-family: 'Ubuntu', sans-serif;

}

.div_div {
  border-style: ridge;
  width: 183px;
  max-height: 206px;
  border-radius: 16px;
  border-width: 14px;
  border-color: antiquewhite;
  margin-top: 130px;
}

.select_license {
  border-radius: 14px;
  width: 176px;
  height: 23px;
  text-align: center;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;

 }
 





  </style>
</head>

<body>
  <nav class="navbar">
    <a href="/aidb"><button class="index_button"><b>AIDB</b>🏡</button></a>

    <% if (user) { %>
      <a href="/aidb/new"><button class="index_button">➕ AI Tool</button></a>
      <a href="/logout"><button class="index_button">🚪Logout</button></a>
      <% } else { %>
        <a href="/auth/google" class="login"><button class="index_button"><img src="https://i.imgur.com/FHjYyi0.png">Log In</button></a>
      <% } %>
  </nav>



<div class="new_div">
<form id="new-form" action="/aidb" method="POST">
  <div class="div_div">
  <label class="label_form" >Title:</label>
  <input class="new_input" type="text" name="title">
  <label class="label_form" >Category:</label>
  <input class="new_input" type="text" name="category">
  <label class="label_form" > Developer:</label>
  <input class="new_input" type="text" name="developers">
  <label class="label_form">License</label>
  <select class="select_license" name="license">
    <option value="Free">Free</option>
    <option value="Commercial">Commercial</option>
    <option value="Open-Source">Open-Source</option>
    <option value="nan">NaN</option>
  </form>
  </div>
</select>
<button class="add_tool" type="submit"> ADD </button>
  </div>





<%- include('../aidb/partials/footer') %>