<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AIDB ~ AI Tools Database</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <!-- <style>
    body{
      margin: 0;
      background-color: rgb(215, 215, 215);
    }
    a{
      font-size: large;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    #show-page>div{
      font-size: large;
      /* color: beige; */
    }

    .dir{
      color: beige;
    }

    img{
      height: 13px;
      width: 13px;

    }

    .add_tool{
      border-style: solid;
      border-radius: 20px;
      background-color: blueviolet;
    }

  </style> -->
</head>

<body>
  <nav>
    <a href="/aidb"><button><b>AIDB</b>🏡</button></a>
    &nbsp;|&nbsp;
    <!-- <a href="/flights/new">EDIT</a> -->
    &nbsp;|&nbsp;
    <!-- <a href="/flights">EDIT</a> -->

    <!-- <img src="/images/camera.svg"> -->

    <% if (user) { %>
      <a class="add_button" href="/aidb/new"><button>➕ AI Tool</button></a>
      <a class="logout_button" href="/logout"><button>🚪Logout</button></a>
      <% } else { %>
        <a class="login_button" href="/auth/google" class="login"><button><img src="https://i.imgur.com/FHjYyi0.png">Log In</button></a>
      <% } %>
  </nav>

<div class="new_div">
<form id="new-form" action="/aidb" method="POST">
  <label class="label_form" >Title:</label>
  <input class="new_input" type="text" name="title">
  <label class="label_form" >Category:</label>
  <input class="new_input" type="text" name="category">
  <label class="label_form" > Developer:</label>
  <input class="new_input" type="text" name="developers">
  <label class="label_form">License</label>
  <select class="select_license" name="license">
    <option value="Free">Free</option>
    <option value="Commercial">Commercial</option>
    <option value="Open-Source">Open-Source</option>
    <option value="nan">NaN</option>
  </form>
</select>
<button class="add_tool" type="submit"> ADD </button>
  </div>


<%- include('../aidb/partials/footer') %>