<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AIDB ~ AI Tools Database</title>
  <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
  <style>
    body{
      margin: 0;
      background-color: rgb(215, 215, 215);
    }
    a{
      font-size: large;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    #show-page>div{
      font-size: large;
      /* color: beige; */
    }

    .dir{
      color: beige;
    }

    img{
      height: 13px;
      width: 13px;

    }

  </style>
</head>
<body>
  <nav>
    <a href="/aidb"><button><b>AIDB</b>🏡</button></a>
    &nbsp;|&nbsp;
    <!-- <a href="/flights/new">EDIT</a> -->
    &nbsp;|&nbsp;
    <!-- <a href="/flights">EDIT</a> -->

    <!-- <img src="/images/camera.svg"> -->

    <% if (user) { %>
      <a href="/aidb/new"><button>➕ AI Tool</button></a>
      <a href="/logout"><button>🚪Logout</button></a>
      <% } else { %>
        <a href="/auth/google" class="login"><button><img src="https://i.imgur.com/FHjYyi0.png">Log In</button></a>
      <% } %>
  </nav>


  <table id="list">
    <thead>
      <tr>
        <!-- <th>Title</th>
        <th>Category</th>
        <th></th> -->
      </tr>
    </thead>
    <tbody>
      <% tools.forEach(function(t){ %>
        <tr>
          <td><%= t.title %></td>
          <td><%= t.category %></td>
          <td><%= t.license %></td>
          <td><a href="/aidb/<%= t._id %>">Click</a></td>
        </tr>

        <% }); %>
      <td><% tools.title %></td>
      
    </tbody>


  </table>





  