<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AIDB ~ AI Tools Database</title>
  <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
  <style>
    body{
      margin: 0;
      /* background-color: rgb(215, 215, 215); */
      /* background-image: url('https://cdn.pixabay.com/photo/2017/01/31/17/55/background-2025984_1280.png'); */
      /* background-image: url('https://cdn.pixabay.com/photo/2020/10/14/16/14/space-5654794_1280.png'); */
      /* background-image: url('https://cdn.pixabay.com/photo/2020/01/09/01/00/eyes-4751572_1280.png'); */
      /* background: url('https://cdn.pixabay.com/photo/2017/12/29/22/57/background-3048876_1280.jpg'); */
      /* background: url('https://cdn.pixabay.com/photo/2017/07/08/10/24/orange-2484007_1280.png'); */
      /* background: url('https://cdn.pixabay.com/photo/2015/09/13/19/35/polka-dots-938626_1280.jpg'); */
      /* background: url('https://cdn.pixabay.com/photo/2017/02/22/18/08/polka-dots-2090152_1280.jpg'); */
      background: url('https://cdn.pixabay.com/photo/2020/03/17/20/52/covid-4941846_1280.png');

      background-size: cover;
      background-repeat: repeat;
    }
    a{
      font-size: 22px;

      font-family: 'Ubuntu', sans-serif;
      text-decoration: none;
      /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    }
    #show-page>div{
      font-size: large;
      /* color: beige; */
    }

    .dir{
      color: beige;
    }

    img{
      height: 13px;
      width: 13px;
    }

    .index_button{
      height: 6vh;
      width: 24vh;
      border-style: revert;
      border-radius: 41px;
      font-family: 'Ubuntu', sans-serif;
      /* background-image: url('https://cdn.pixabay.com/photo/2021/09/15/13/28/art-6626881_1280.png'); */
      /* background: url('https://cdn.pixabay.com/photo/2013/07/12/12/35/texture-145968_1280.png'); */
      /* background: url('https://cdn.pixabay.com/photo/2015/09/13/03/47/honeycomb-937669_1280.jpg'); */
      background: url('https://cdn.pixabay.com/photo/2020/05/20/03/50/gears-5193383_1280.png');
      background-size: cover;
      background-repeat: repeat;
      font-size: 22px;

    }

    .navbar {
     height: 19vh;
     border-style: ridge;
     border-radius: 14px;
      width: auto;
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 2vh;
      /* background-image: url('https://cdn.pixabay.com/photo/2020/12/06/16/16/cosmos-5809271_1280.png'); */
      /* background-image: url('https://cdn.pixabay.com/photo/2021/08/07/14/36/modern-6528732_1280.png'); */
      background-image: url('https://cdn.pixabay.com/photo/2017/01/17/22/49/background-1988348_1280.png');
      /* background: url('https://cdn.pixabay.com/photo/2018/01/29/13/03/internet-3116062_1280.jpg'); */
      background-repeat: repeat;
      background-size: cover;
      font-family: 'Ubuntu', sans-serif;

}

.tool_s{
  height: 2vh;
  font-family: 'Ubuntu', sans-serif;

}


.tool_div {
  display: flex;
  border: solid;
  border-style: groove;
  border-radius: 12px;
  min-height: 200px;
  min-width: 201px;
  flex-direction: column;
  justify-content: space-between;
  border-color: snow;
  padding: 38px;
  border-width: 13px;
  opacity: 5;
  background-image: url('https://cdn.pixabay.com/photo/2021/08/07/14/36/stripes-6528728_1280.png');
  background-repeat: repeat;
  background-size: cover;
  font-family: 'Ubuntu', sans-serif;

}

#list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 24px;
  height: 596px;
  /* border: solid; */
  padding: 30px;
  /* border-color: aliceblue; */
  font-family: 'Ubuntu', sans-serif;

}

.tool {
  height: 51px;
  border-style: inset;
  border-width: 7px;
  width: 192px;
  border-radius: 5px;
  font-weight: bold;
  pointer-events: none;
}

.click_open {
  height: 51px;
  border-style: inset;
  border-width: 5px;
  width: 73px;
  border-radius: 5px;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
  border-radius: 28px;
  margin-left: 59px;
  background-color: beige;

}

.intro {
  height:25px;
  width: 90px;
  border-style: inset;
  border-radius: 32px;
  margin-left: 50px;
  border-width: 5px;
  font-weight: bolder;
  /*! background-image: url('https://cdn.pixabay.com/photo/2021/08/07/14/36/stripes-6528728_1280.png'); */
  background-repeat: repeat;
  background-size: cover;
  font-family: 'Ubuntu', sans-serif;
  background: beige;
}



  </style>
</head>
<body>
  <nav class="navbar">
    <a href="/aidb"><button class="index_button"><b>AIDB</b>🏡</button></a>

    <% if (user) { %>
      <a href="/aidb/new"><button class="index_button">➕ AI Tool</button></a>
      <a href="/logout"><button class="index_button">🚪Logout</button></a>
      <% } else { %>
        <a href="/auth/google" class="login"><button class="index_button"><img src="https://i.imgur.com/FHjYyi0.png">Log In</button></a>
      <% } %>
  </nav>


 



  